body.small{
    width: 300px;
    min-height:50px ;
}
#fe-extension-container{
    display: flex;
    flex-direction: column;
}
.title-select-model{
    margin:5px 10px;
    font-weight: 600;
    font-size: 15px;
}
#model-select{
    font-size: 15px;
    margin: 5px 10px;
    width: 280px;
    padding-top: 8px;
    padding-bottom: 8px;

}
.button-select-checkbox{
   
}
